*,
.container {
  margin: 0;
  padding: 0;

}

.mot {
  font-family: 'Dancing Script', cursive;
  padding-top: 5px;
  text-align: center;
  display: flex;
  justify-content: space-evenly;
  position: fixed;
  color: black;
  text-shadow: 1px 1px 1px rgb(145, 139, 139);
  width: 100%;
  height: 52px;
  background-color: rgb(224, 143, 84);

}

.top {
  position: static;
  width: 100%;
  height: 60px;
  background-color: rgb(132, 132, 206);
  text-align: center;
  font-size: 55px;
  font-family: calibri;
  color: rgb(204, 87, 45);
  padding-top: 6px;
  text-shadow: 2px 3px 2px rgb(20, 20, 20);
}

header {
  background-color: rgb(174, 174, 243);
  border-style: none;
  height: 100px;
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  position: fixed;
}

header,
p .compname {
  color: rgb(42, 83, 158);
  text-shadow: 2px 3px 1px rgb(18, 18, 19);
  font-size: 35px;
  font-weight: bold;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;

}


a:hover {
  color: rgb(248, 145, 10);
  cursor: pointer;
  text-decoration: underline;
  font-size: 30px;

}

.anc {
  margin-top: 50px;
  justify-content: center;
  text-decoration: none;
  text-shadow: 0px 1px 1px rgb(46, 45, 45);
  text-transform: capitalize;
  font-weight: 200;
  color: rgb(75, 57, 51);
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-size: 20px;

}

.anc.active {
  color: rgb(248, 145, 10);
  cursor: pointer;
  text-decoration: underline;
  font-size: 30px;
}

.sld {

  box-shadow: 2px 5px 5px rgb(53, 51, 51);

  height: 450px;
  width: 100%;
}

.outer {
  padding: 45px;
}

.icon {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;

}

.dropdown {
  position: static;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  width: 200px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  padding: 17px;
  margin-left: 3px;

  font-size: 20px;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.dropdown:hover .dropdown-content {
  display: block;
  background-color: rgb(189, 238, 91);
}

.drophead {

  margin: 10px;
  height: 80px;
  width: 160px;
  font-weight: bold;
  border-style: none;
  color: rgb(37, 39, 39);
  text-shadow: 2px 2px 2px rgb(134, 134, 134);
  background-color: rgb(157, 174, 206);
  text-align: center;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  align-content: center;
  border-radius: 10%;
  box-shadow: 2px 2px cadetblue;
}

.drophead:hover {
  cursor: pointer;
  background-color: rgb(209, 238, 229);
}

.inn1 {
  margin: 30px;

  height: 250px;
  font-size: 20px;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  color: black;
  line-height: 25px;
  text-align: justify;

}

footer {
  width: 100%;
  height:60px;
  background-color: rgb(201, 160, 240);
  display: flex;
  font-family:Arial, Helvetica, sans-serif;
  
  text-shadow: 1px 1px 1px rgb(12, 12, 12),1px 1px 1px rgb(15, 15, 15),1px 1px 1px rgb(15, 15, 15);
  color: crimson;
  justify-content: space-around;
  font-size: 18px;
  }
  footer h3{
    padding-top: 15px;
  }
  