*{
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
}
.top{
    border-style: dashed;
    height: 50px;
    width: 100%;
    background-color:rgb(224, 143, 84) ;
    display: flex;

    
}
